@import "tailwindcss";


:root {
  /* Backgrounds */
  --bg-main: #fbf6f1;
  --bg-muted: #e5e0da;
  --bg-accent: #8b8f63;

  /* Text */
  --text-primary: #2f3e2e;
  --text-secondary: #4a4a4a;
  --text-light: #ffffff;

  /* Borders */
  --border-dark: #2f3e2e;

  /* Fonts */
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

}

body {
  font-family: var(--font-body);
  background-color: var(--bg-main);
}