@import "tailwindcss";

*{
  font-family:
}

:root {
  /* Backgrounds */
  --bg-main: #f7f2ea;
  --bg-muted: #ede7dd;
  --bg-accent: #8b8f63;
  
  /* Text */
  --text-primary: #2f3e2e;
  --text-secondary: #4a4a4a;
  --text-light: #ffffff;
  
  /* Borders */
  --border-dark: #2f3e2e;

  /* Fonts */
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  
}

body {
  font-family: var(--font-body);
  background-color: var(--bg-main);
}